<?xml version="1.0"?>
<robot name="colortest">
<material name ='red'>
   <color rgba='1 0 0'/>
</material>

<link name="box_one ">
<visual>
<geometry>
<box size ="1 1 1"/>
</geometry>
<origin rpy ='0 0 0' xyz='0 0 0'/>
<material name ='red'/></visual>
</link>

<material name ='blue'>
   <color rgba='0 0 1'/>
</material>

<link name="sphere_one">
<visual>
<geometry>
<sphere radius ="0.5"/>
</geometry>
<origin rpy ='0 1 0' xyz='2 2 2'/>
<material name ='blue'/></visual>
</link>

 </robot>
