<?xml version="1.0"?>
<robot name="testrobot">
<material name ='blue'>
   <color rgba='0 0 1 1'/>
</material>

<link name="base_box">
<visual>
<geometry>
<box size ="1 1 1"/>
</geometry>
<origin rpy ='0 0 0' xyz='0 0 0'/>
<material name ='blue'/></visual>
</link>

<material name ='red'>
   <color rgba='1 0 0 1'/>
</material>

<link name="base_sphere">
<visual>
<geometry>
<sphere radius ="0.5"/>
</geometry>
<origin rpy ='0 1 0' xyz='1 1 1'/>
<material name ='red'/></visual>
</link>

<joint name="box_to_sphere" type="fixed">
<parent link="base_box"/>
<child link="base_sphere"/>
</joint>
</robot>
